body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

label {
  font-size: 18px;
  color: #333;
}

input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 200px; /* Adjust width as needed */
}

button {
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainSquare {
  margin-bottom: 30px;
  position: relative;
  border: 2px solid black;
}
.child {
  position: absolute;
  width: var(--child-size);
  height: var(--child-size);
}
